* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.upper-sign {
  width: 100vw;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  font-size: 14px;
  font-weight: 500;
  background-color: black;
  color: white;
}

.upper-sign a {
  color: white;
}

.hero {
  width: 100vw;
  height: 40%;
  background-color: rgb(240, 238, 235);
}

.hero nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  margin: 44px 120px 0 120px;
}

.hero nav p {
  font-weight: 500;
}

.nav-conduction {
  display: flex;
  gap: 35px;
}

.nav-conduction a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  color: black;
}

.bottons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.bottons a {
  font-weight: 300;
  color: black;
  text-decoration: none;
}

.bottons a button {
  cursor: pointer;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
}

main {
  background-color: rgb(240, 238, 235);
}

.hero-presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  margin-left: 120px;
  margin-right: 120px;
  padding-top: 50px;
  padding-bottom: 70px;
}

.hero-presentation h1 {
  font-size: 50px;
  font-weight: 500;
  line-height: 65px;
}

.hero-presentation img {
  width: 35%;
}

.presentation p {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  color: rgb(30, 33, 31, 0.75);
}

.verification {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 8px;
}

.verification img {
  width: 20px;
}

.topic {
  display: flex;

  gap: 12px;
}

.topic p {
  font-weight: 500;
}

.input-email {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-top: 25px;
}

.input-email input::placeholder {
  color: rgb(128, 128, 128, 0.35);
}

.input-email input {
  width: 180px;
  height: 50px;
  padding: 0 20px;
  border: 1px solid rgb(128, 128, 128, 0.35);
  border-radius: 5px;
}

.input-email input:valid {
  border: 2px solid green;
}

.input-email input:invalid {
  border-color: red;
}

.input-email button {
  padding: 12px 18px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
}

.social-midias {
  margin: 40px 120px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.social-midias img {
  height: 22px;
}

.image-mobile {
  height: 405px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 120px;
  border-radius: 10px;
  background-color: rgb(240, 238, 235);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./Assets/Phone\ Mockup\ \(Desktop\).png");
}

.space {
  width: 50%;
}

.text-presentation {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin-left: 90px;
  padding-right: 90px;
}

.text-presentation h2 {
  width: 70%;
  font-size: 30px;
  font-weight: 500;
}

.text-presentation p {
  font-size: 14px;
  font-weight: 300;
  color: rgb(63, 63, 63);
}

.text-presentation a {
  font-size: 14px;
  font-weight: 500;
  color: rgb(63, 63, 63);
}

.edit {
  margin: 50px 120px 30px 120px;
  display: flex;
}

.edit img {
  width: 50%;
}

.text-editor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.text-editor h2 {
  font-size: 30px;
  font-weight: 500;
}

.text-editor p {
  font-size: 14px;
  font-weight: 300;
  color: rgb(63, 63, 63);
}

.text-editor a {
  font-size: 14px;
  font-weight: 500;
  color: rgb(63, 63, 63);
}

footer {
  width: 100vw;
  display: flex;
  gap: 10%;
  padding: 50px 120px;
  background-color: black;
}

footer h3 {
  color: white;
}

footer p {
  color: rgb(166, 164, 164);
}

footer a {
  color: rgb(166, 164, 164);
  text-decoration: none;
}

footer a:hover {
  color: rgb(166, 164, 164);
  position: relative;
  transform: translate(3px, 1px);
}

.spence-resume {
  width: 30%;
}

.topics {
  display: flex;
  gap: 25%;
}

.footer-topic {
  display: flex;
  flex-direction: column;
}
